# Android Studio files
.idea
*.iml

# Gradle / SDK files
.gradle
build
local.properties
.kotlin

# Binary file, created as part of the build.
app/src/main/res/raw/words*.bin
app/src/test/resources/words*.bin

# Ruby bundler gems
vendor
.bundle

fastlane/Appfile
fastlane/api*.json
