<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme.Dark"
		android:supportsRtl="true"
		android:allowBackup="true">

        <activity android:name=".MainMenuActivity"
			android:screenOrientation="portrait"
			android:configChanges="orientation|keyboardHidden"
			android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

		<activity android:name=".activities.HighScoresActivity"
			android:screenOrientation="portrait"
			android:configChanges="orientation|keyboardHidden"
			android:parentActivityName=".MainMenuActivity">
			<meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainMenuActivity" />
		</activity>

		<activity android:name=".activities.ShareGameLobbyActivity"
			android:screenOrientation="portrait"
			android:configChanges="orientation|keyboardHidden"
			android:parentActivityName=".MainMenuActivity"
			android:exported="true">
			<meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainMenuActivity" />

			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>

				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>

				<data android:scheme="lexica"/>
				<data android:host="multiplayer"/>
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>

				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>

				<data android:scheme="https"/>
				<data android:host="lexica.github.io"/>
				<data android:pathPrefix="/m/"/>
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>

				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>

				<data android:scheme="https"/>
				<data android:host="lexica.github.io"/>
				<data android:pathPrefix="/share/"/>
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>

				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>

				<data android:scheme="lexica"/>
				<data android:host="share"/>
			</intent-filter>
		</activity>

		<activity android:name=".activities.NewMultiplayerActivity"
			android:screenOrientation="portrait"
			android:configChanges="orientation|keyboardHidden"
			android:parentActivityName=".MainMenuActivity">
			<meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainMenuActivity" />
		</activity>

		<activity android:name=".activities.FoundWordsActivity"
			android:screenOrientation="portrait"
			android:configChanges="orientation|keyboardHidden"
			android:parentActivityName=".activities.HighScoresActivity">
			<meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".activities.HighScoresActivity" />
		</activity>

		<activity android:name=".ChooseGameModeActivity"
			android:screenOrientation="portrait"
			android:configChanges="orientation|keyboardHidden"
			android:parentActivityName=".MainMenuActivity">
			<meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainMenuActivity" />
		</activity>

		<activity android:name=".NewGameModeActivity"
			android:screenOrientation="portrait"
			android:configChanges="orientation|keyboardHidden"
			android:parentActivityName=".ChooseGameModeActivity">
			<meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".ChooseGameModeActivity" />
		</activity>

		<activity android:name=".ChooseLexiconActivity"
			android:screenOrientation="portrait"
			android:configChanges="orientation|keyboardHidden"
			android:parentActivityName=".MainMenuActivity">
			<meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainMenuActivity" />
		</activity>

		<activity android:name=".GameActivity"
			android:screenOrientation="portrait"
			android:configChanges="orientation|keyboardHidden"
			android:parentActivityName=".MainMenuActivity"
			android:exported="true">
			<meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainMenuActivity" />
			<intent-filter>
				<action android:name="com.serwylo.lexica.action.NEW_GAME" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT" />
				<action android:name="com.serwylo.lexica.action.RESTORE_GAME" />
			</intent-filter>
        </activity>

        <activity android:name=".activities.score.ScoreActivity"
			android:screenOrientation="portrait"
			android:configChanges="orientation|keyboardHidden"
			android:exported="true">
			<intent-filter>
				<action android:name="com.serwylo.lexica.action.SCORE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
        </activity>

        <activity android:name=".SettingsActivity" android:exported="true" android:parentActivityName=".MainMenuActivity">
			<meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainMenuActivity" />
			<intent-filter>
				<action android:name="com.serwylo.lexica.action.CONFIGURE" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.PREFERENCES" />
			</intent-filter>
        </activity>
    </application>
</manifest> 
