<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.serwylo.lexica"
          android:versionCode="1104"
          android:versionName="0.11.4">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="23"
        />

    <application android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:theme="@style/AppTheme" android:allowBackup="true">
        <activity android:name=".Lexica">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".PlayLexica">
			<intent-filter>
				<action android:name="com.serwylo.lexica.action.NEW_GAME" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT" />
				<action android:name="com.serwylo.lexica.action.RESTORE_GAME" />
			</intent-filter>
        </activity>

        <activity android:name=".ScoreActivity">
			<intent-filter>
				<action android:name="com.serwylo.lexica.action.SCORE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
        </activity>

        <activity android:name=".LexicaConfig" android:exported="false">
			<intent-filter>
				<action android:name="com.serwylo.lexica.action.CONFIGURE" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.PREFERENCES" />
			</intent-filter>
        </activity>
    </application>
</manifest> 
